¨<div class="card mb-4">
  <ul class="list-group list-group-flush">
    <li class="list-group-item title text-left text-dark">
      <button class="like-button" [routerLink]="[ '/profile/', post.username]" style="color: black; font-size: large; font-weight: bold;">
        <img class="profile-picture mr-2" src="{{post.profilePictureUrl || '../../../assets/user.png'}}" alt="">{{post.username}}</button>

    </li>
    <div class="card-img-wrapper">
      <img class="card-img-top"  src="{{post.url}}" alt="{{post.caption}}">
    </div>
    <li class="list-group-item">
        <div class="btn-group" dropdown [dropup]="true" placement="top right">
          <button class="like-button" style="border-color: transparent; padding-left: 0px;" *ngIf="!liked" (click)="like()"><i style="font-size: x-large;" class="fa fa-heart-o like-icon"></i></button>
          <button class="like-button" style="padding-left: 0px;" *ngIf="liked" (click)="unlike()"><i style="font-size: x-large;" class="fa fa-heart like-icon"></i></button> 
          <button class="like-button" (click)="messagePost()"><i style="font-size: x-large;" class="fa fa-envelope like-icon"></i></button>
          <button type="button" class="dropup" dropdownToggle>
            <i style="font-size: x-large;" class="fa fa-ellipsis-h ellipse-icon"></i>
          </button>
          <ul class="dropdown-menu mb-3" [ngClass]="{'dropdown-menu-right': true}" role="menu"  *dropdownMenu>
            <li *ngIf="myPost" role="menuitem"><a class="dropdown-item" (click)="deletePost(post.id)">Delete Post</a></li>
            <li *ngIf="myPost" role="menuitem"><a class="dropdown-item" (click)="editCaption()">Edit Caption</a></li>
            <li role="menuitem"><a href="{{post.url}}" download="{{post.username}}_on_Memeclub.png" 
              target="_blank" class="dropdown-item">Save Image</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="reportPost()">Report</a></li>
          </ul>
        </div>
        <p style="margin-bottom: 0px; margin-left: 0px; font-size: 1rem;">
          {{likes}} 
          <a class="ml-1" style="color: crimson;" *ngIf="likes > 0" [routerLink]="[ '/list/', post.id, 'likers' ]">
            Likes
          </a>
          <span class="ml-1" *ngIf="likes === 0">Likes</span>
          <span  *ngIf="post.inJoust" class="ml-3">
            <i class="fa fa-trophy"></i>
            {{post.joustRating}}
          </span>
        </p>
        <p style="font-size: 1rem; text-align: left;">
          <a class="like-button" [routerLink]="[ '/profile/', post.username]">{{post.username}}
          <span class="ml-2" style="color: black">{{post.caption}}</span></a>
        </p>
        <div class="like-button">
          <a style="font-size: 1rem;" *ngIf="post.comments.length > 0" [routerLink]="[ '/comments/', post.id, myPost]">
          View all {{post.comments.length}} Comments
          </a>
        </div>
      <span class="created">{{post.created | timeAgo}}</span>
    </li>
    <li class="list-group-item">
      <form #commentForm="ngForm" id="commentForm" (ngSubmit)="sendComment()">
        <div class="input-group">
          <input type="text" required class="form-control" style="color: black;" placeholder="Leave a comment..." [(ngModel)]="comment" name="comment">
          <div class="input-group-append">
            <input class="btn post-button" type="submit" value="Post">
          </div>
        </div>
      </form>
    </li>
  </ul>
</div>

