<div class="card mb-4 bg-dark">
  <ul class="list-group list-group-flush bg-dark">
    <li class="list-group-item title text-left bg-dark text-light">
      <button class="like-button" [routerLink]="[ '/profile/', post.username]" style="color: white">
        <img class="profile-picture mr-2" src="{{post.profilePictureUrl || '../../../assets/user.png'}}" alt="">{{post.username}}</button>

    </li>
    <div class="card-img-wrapper">
      <img class="card-img-top"  src="{{post.url}}" alt="{{post.caption}}">
    </div>
    <li class="list-group-item bg-dark text-light">
        <div class="btn-group" dropdown [dropup]="true" placement="top right">
          <button class="like-button" style="border-color: transparent" *ngIf="!liked" (click)="like()"><i class="fa fa-heart-o like-icon"></i></button>
          <button class="like-button" *ngIf="liked" (click)="unlike()"><i class="fa fa-heart like-icon"></i></button> 
          <button class="like-button" (click)="messagePost()"><i class="fa fa-envelope like-icon"></i></button>
          <button type="button" class="dropup" dropdownToggle>
            <i class="fa fa-ellipsis-h ellipse-icon"></i>
          </button>
          <ul class="dropdown-menu mb-3" [ngClass]="{'dropdown-menu-right': true}" role="menu"  *dropdownMenu>
            <li *ngIf="myPost" role="menuitem"><a class="dropdown-item" (click)="deletePost(post.id)">Delete Post</a></li>
            <li role="menuitem"><a [href]="post.url" download="" class="dropdown-item">Save Image</a></li>
          </ul>
        </div>
        <p style="margin-bottom: 0px; margin-left: 7px;">
          {{likes}} 
          <a class="ml-1" *ngIf="likes > 0" [routerLink]="[ '/list/', post.id, 'likers' ]">
            Likes
          </a>
          <span class="ml-1" *ngIf="likes === 0">Likes</span>
          <span class="ml-3">
            <i class="fa fa-trophy"></i>
            {{post.joustRating}}
          </span>
        </p>
        <p>
          <button class="like-button" [routerLink]="[ '/profile/', post.username]">{{post.username}}
          <span class="ml-2" style="color: white">{{post.caption}}</span></button>
        </p>
        <div class="like-button">
          <a class="ml-1" *ngIf="post.comments.length > 0" [routerLink]="[ '/comments/', post.id, myPost]">
          View all {{post.comments.length}} Comments
          </a>
        </div>
      <span class="created">{{post.created | timeAgo}}</span>
    </li>
    <li>
      <form #commentForm="ngForm" id="commentForm" (ngSubmit)="sendComment()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Leave a comment..." [(ngModel)]="comment" name="comment">
          <div class="input-group-append">
            <input class="btn post-button" type="submit" value="Post">
          </div>
        </div>
      </form>
    </li>
  </ul>
</div>

