p {
    color: crimson;
}

.card-img-wrapper {
    position: relative;

}

.member-icons {
    position: absolute;
    bottom: -50%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;

}

.blur {
    filter: blur(20px) brightness(50%);
    -webkit-filter: blur(20px) brightness(50%);
}

.card-img-wrapper:hover .member-icons {
    bottom: 0;
    opacity: .5;

}

.like-button {
    cursor: pointer;
    size: scale(10);
    border: 0px;
    color: crimson;
    background-color: transparent;
}

.like-button:hover {
    background: transparent
}

.like-button:active {
    
}

.dropup {
    -webkit-appearance: none;
    background-color: transparent;
    cursor: pointer;
    color: crimson;
    border: 0px;
}


.dropdown-menu-right {
    right: 0 !important;
    left: auto !important; 
}

.profile-picture {
    max-height: 40px;
    max-width: 40px;
    border-radius: 50%;
}

a:link {
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: crimson;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: crimson;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: crimson;
    background-color: transparent;
    text-decoration: none;
  }

  .form-control {
    color: white;
    background-color: transparent;
    text-decoration: none;
    height: 45px;
  }

  .post-button {
      color: crimson;
      height: 45px;
  }

  .created {
      font-size: 12px;
      color: grey;
  }



