<div  class="row">
    <div class = "col-sm-3"></div>
    <div class="col-sm-6">
        <div *ngFor="let user of users">
            <li class="list-group-item title">
                <img class="profile-picture mr-2" src="{{user.photoUrl || '../../../assets/user.png'}}" alt="">
                
                <button class="like-button" [routerLink]="[ '/profile/', user.username]">
                <h4>
                    {{user.username}}
                </h4></button>
        
            </li>
        </div>
    </div>
    <div class = "col-sm-3"></div>
