<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537604362525-9j1ur1eodvs94660pomq459l7p7ekgke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537604362525-9j1ur1eodvs94660pomq459l7p7ekgke</string>
	<key>API_KEY</key>
	<string>AIzaSyD5jKeFtUg3UKpiNfdh-fGKV7qUKPs8gfo</string>
	<key>GCM_SENDER_ID</key>
	<string>537604362525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.memeclub</string>
	<key>PROJECT_ID</key>
	<string>memeclub-8ad37</string>
	<key>STORAGE_BUCKET</key>
	<string>memeclub-8ad37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537604362525:ios:0bc36a9384a87b929591f4</string>
	<key>DATABASE_URL</key>
	<string>https://memeclub-8ad37.firebaseio.com</string>
</dict>
</plist>