<div class="modal-header">
  <h4 class="modal-title pull-left">Crop Image</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="myform" (submit)="submit()" fxFlex="100">
  <div
    fxFlex="500px"
    fxLayoutAlign="center center"
    fxLayout="column"
    fxFlexOffset="calc(50% - 250px)"
    fxFlex.xs="100"
    fxFlexOffset.xs="0"
    style="padding: 10px; text-align: center;"
  >
    <app-custom-image-form-control
      formControlName="BlobImage"
      [responseType]="'blob'"
      [type] = "type"
    ></app-custom-image-form-control>

    <div class="invalid" *ngIf="myform.controls['BlobImage'].hasError('required')">
      This field is required
    </div>
    <br>
    <button class="btn-success" fxFlex color="primary">
      Submit
    </button>
  </div>
</form>