.profile-picture {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.username {
    padding-left: 10px;
    padding-top: 10px;
    color: black;
}

.username-button {
    background-color: transparent;
    border: 0px;
}

.card-header {
    background-color: transparent;
}

.message-thread {
  height: 400px;
  overflow-y: scroll;
}

.chat {
    list-style-type: none;
    padding-left: 0px;
  }
  
  .chat__bubble {
    margin-bottom: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    clear: both;
    border-radius: 30px 30px 5px 5px ;
    max-width: 300px;
    padding-right: 20px;
  }

  .post_bubble {
    max-width: 400px;
    margin-bottom: 3px;
    padding: 5px 0px;
    clear: both;
    border-radius: 30px 30px 5px 5px ;
  }
  
  .chat__bubble--rcvd {
    background: #707070;
    color: white;
    align-self: flex-start;
    border-bottom-right-radius: 30px;
  }
  
  .chat__bubble--sent {
    background: #0084ff;
    color: white;
    align-self: flex-end;
    border-bottom-left-radius: 30px;
  }
  
  .two-sent {
    border-top-right-radius: 5px;
  }
  
  .two-received {
    border-top-left-radius: 5px;
  }
  
  .chat__bubble--stop {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 2rem;
  }

  .chat__bubble--stop.chat__bubble--rcvd {
    margin-bottom: 30px !important;
  }

  .send-button {
    background-color: #0084ff;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .form-control {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: x-small;
    border-radius: 6px;
    padding: 5px 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .chat__bubble:hover .tooltiptext {
    visibility: visible;
  }

  .profile-picture-small {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .avatar {
    margin-left: -25px;
    position: relative;
    border:3px solid #fff;
    border-radius: 50%;
    overflow:hidden;
    width:50px;
    height:50px;
}

.avatars {
    display: inline-flex;
    flex-direction: row;
    padding-left: 25px;
    margin-right: 10px;
}