<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="display: flex;">
          <div class="avatars">
            <div *ngFor="let url of photoUrls">
              <img class="avatar" src="{{url ||'../../../assets/user.png'}}" alt="">
            </div>
          </div>
          <button class="username-button" [routerLink]="[ '/group', groupId, groupName]">
            <h3 class="username">{{groupName}}</h3>
          </button>
        </li>
        <li #scrollBottom class="list-group-item message-thread">
            <ul class="chat">
                <li *ngFor="let message of messages; let i = index"
                [ngClass]="{'chat__bubble': true, 
                            'post_bubble': message.post != null,
                            'chat__bubble--sent': message.senderId == id, 
                            'chat__bubble--rcvd': message.senderId != id,
                            'two-received': i > 0 ? messages[i-1].senderId == message.senderId && message.senderId != id: false,
                            'chat__bubble--stop': i == (messages.length - 1) || messages[i+1].senderId != message.senderId}">

                      <app-post-card-message *ngIf="message.post != null" [post]="message.post"></app-post-card-message>
                      <span *ngIf="message.senderId == id" class="tooltiptext">{{message.messageSent | date:'shortTime'}}</span>
                      <div style="flex-direction: row;">
                        <img *ngIf="message.senderId != id" class="profile-picture-small" src="{{message.senderPhotoUrl || '../../../../assets/user.png'}}">
                        {{message.content}}
                      </div>
                      <span *ngIf="message.senderId != id" class="tooltiptext"> {{message.senderUsername}} {{message.messageSent | date:'shortTime'}}</span>
                </li>
             </ul>
        </li>
        <li class="list-group-item">
          <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()" action="">
            <div class="input-group">
              <input type="text" 
                class="form-control input-sm" 
                [(ngModel)]="newMessage.content" 
                name="content" 
                required
                placeholder="Send a message">
              <div class="input-group-append">
                <button [disabled]="!messageForm.valid" class="send-button">
                  Send</button>
                </div>
              </div>
            </form>
        </li>
      </ul>
    </div>
  </div>
<div class="col-sm-3"></div>
</div>
