<div *ngIf="users?.length === 0" style="text-align: center; margin-top: 10px;">
  <h5 style="display: inline-block;">No more reported users left.</h5>
</div>

<div  class="row" style="margin-top: 10px;">
  <div class = "col-md-1"></div>
  <div class="col-10">
      <div *ngFor="let user of users">
          <li class="list-group-item title listItem" style="display: flex; flex-direction: row;">
            <div style="margin-right: 30px; width: 60px;">
              <img class="profile-picture mr-2" style="margin-bottom: 10px;" src="{{user.photoUrl || '../../../assets/user.png'}}" alt="">
              <button (click)="removeProfilePicture(user)"
                class="following">
                  <span>Remove</span>
              </button>
            </div>
              
              <div style="align-items: flex-start; margin-right: 30px;">
                <button class="like-button" [routerLink]="[ '/profile/', user.username]">
                  <h4 style="margin-bottom: 0rem !important;">
                      {{user.username}}
                  </h4>
                </button>
                  <div style="text-align: start;">
                      <span style="color: gray !important;">{{user.name}}{{' '}}</span>
                      <button *ngIf="user.name" (click)="removeName(user)"
                        class="following" style="margin-left: auto; align-self: center;">
                          <span>Remove</span>
                      </button>
                  </div>
              </div>

              <div style="width: 100px; flex-direction: column; display: flex; margin-right: 30px;">
                <p>{{user.bio}}</p>
                <button (click)="removeBio(user)"
                        class="following">
                          <span>Remove</span>
                </button>
              </div>

              <div style="width: 100px; flex-direction: row; display: flex; margin-right: 0%;">
                <p>Reported Count: {{user.reportedCount}}{{"\n"}}Num. Reports on Posts: {{user.reportedPostCount}}
                  <br>Ban Count: {{user.banCount}}<br>Is Banned: {{user.isBanned ? "Yes": "No"}}
                </p>
              </div>

              <div style="justify-self: end; align-items: flex-end; display: flex;">
                <button (click)="unReportUser(user)"
                  class="btn-success" style="margin-left: auto; align-self: center; border: none;">
                    <span>Done</span>
                </button>
                  <select style="align-self: center; margin-left: .5em; margin-right: .5em;"  [formControl]="selectControl">
                    <option value="3">3 days</option>
                    <option value="7">7 days</option>
                    <option value="14">14 days</option>
                    <option value="28">28 days</option>
                  </select>
                  <button (click)="banUser(user)"
                    class="btn-danger" style="margin-left: auto; align-self: center; border: none;">
                      <span>
                        Ban
                      </span>
                  </button>
              </div>

          </li>
      </div>
  </div>
  <div class = "col-sm-2"></div>
