.profile-picture {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
}

.like-button {
    cursor: pointer;
    size: scale(10);
    border: 0px;
    color: black;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: .75em;
}

.like-button:hover {
    background: transparent
}

.submit {
    background-color: crimson; 
    color: white;
}

.submit[disabled] {
    background-color: gray;
}

.following {
    background-color: crimson;
    color: white;
    padding: 5px;
    font-size: .75rem;
    border-radius: .6rem;
    border: none;
}

@media only screen and (max-width: 992px) {
    .listItem {
        flex-flow: row wrap !important;
        display: flex;
    }
}

@media only screen and (min-width: 992px) {
    .widerElements {
        width: 25%
    }

}