<div  class="row" style="margin-top: 10px;">
  <div class = "col-sm-2"></div>
  <div class="col-sm-8">
      <div *ngFor="let user of users">
          <li class="list-group-item title listItem" style="display: flex; flex-direction: row;">
            <div style="margin-right: 5%; width: 10%;">
              <img class="profile-picture mr-2" style="margin-bottom: 10px;" src="{{user.photoUrl || '../../../assets/user.png'}}" alt="">
              <button (click)="removeProfilePicture(user)"
                class="following" style="margin-left: auto; align-self: center;">
                  <span>Remove</span>
              </button>
            </div>
              
              <div style="align-items: flex-start; margin-right: 5%;">
                <button class="like-button" [routerLink]="[ '/profile/', user.username]">
                  <h4 style="margin-bottom: 0rem !important;">
                      {{user.username}}
                  </h4>
                </button>
                  <div style="text-align: start;">
                      <span style="color: gray !important;">{{user.name}}{{' '}}</span>
                      <button *ngIf="user.name" (click)="removeName(user)"
                        class="following" style="margin-left: auto; align-self: center;">
                          <span>Remove</span>
                      </button>
                  </div>
              </div>

              <div style="width: 20%; flex-direction: row; display: flex; margin-right: 5%;">
                <p>{{user.bio}}</p>
                <button (click)="removeBio(user)"
                        class="following" style="margin-left: auto; align-self: flex-start;">
                          <span>Remove</span>
                </button>
              </div>

              <div style="width: 20%; flex-direction: row; display: flex; margin-right: 0%;">
                <p>Reported Count: {{user.reportedCount}}{{"\n"}}Num. Reports on Posts: {{user.reportedPostCount}}</p>

              </div>

              <div style="justify-self: end; align-items: flex-end; display: flex;">
                <button (click)="unReportUser(user)"
                  class="btn-success" style="margin-left: auto; align-self: center; padding: 5px;">
                    <span>Done</span>
                </button>
                <button (click)="banUser(user)"
                  class="btn-danger" style="margin-left: auto; align-self: center;">
                    <span>Ban 3 days</span>
                </button>
              </div>

          </li>
      </div>
  </div>
  <div class = "col-sm-2"></div>
