.profile-picture {
    max-height: 40px;
    max-width: 40px;
    border-radius: 50%;
}

.like-button {
    cursor: pointer;
    size: scale(10);
    border: 0px;
    background-color: transparent;
    font-weight: bolder;
    color: white;
}

.like-button:hover {
    background: transparent
}

.list-container {
    width: 150 !important;
    list-style-type: none;
    padding: 0px;
}

li {
    width: 200;
}

.main-image {
    aspect-ratio: 1;
}

.whole-container {
    cursor: pointer;
}



