.profile-picture {
    border-radius: 50%;
    height:250px;
    width:250px;
}

.username-wrapper {
    padding-top: 25px;
    padding-bottom: 10px;
}
 
.follow-button {
    -webkit-appearance: none;
    width: 50%;
    height: 70px;
    background-color: #4BB73f;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    font-family: Nunito Sans;
    letter-spacing: 4px;
}

.following-button {
    -webkit-appearance: none;
    width: 50%;
    height: 70px;
    background-color: white;
    color: black;
    font-size: 30px;
    border-radius: 10px;
    font-family: Nunito Sans;
    letter-spacing: 4px;
    border-width: 2px;
}

.edit-button {
    -webkit-appearance: none;
    width: 50%;
    height: 70px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    font-family: Nunito Sans;
    letter-spacing: 4px;
}

.button-wrapper {
    padding-bottom: 20px;
}

.row-wrapper {
    padding-left: 25px;
}

.post-container {
    padding-top: 10px
}

.card-container {
    padding-top: 10px;
}

.grid-image {
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }