.photo{
    max-width:360px;
  }

 .photo-input{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.row-wrapper {
}

.input-label {
    cursor: pointer;
    width: 40%;
    background-color: #3399ff;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    font-family: Nunito Sans;
    letter-spacing: 2px;
}

.btn-info {
    width: 40%;
    font-size: 20px;
}

.label-wrapper {
    width: 100%;
}

.post-button {
    -webkit-appearance: none;
    width: 40%;
    height: 50px;
    background-color: crimson;
    color: white;
    font-size: 20px;
    font-family: Nunito Sans;
    letter-spacing: 2px;
    border-width: 0px;
}

.post-wrapper {
    padding-top: 15px;
}

.ngx-croppie {
    padding-top: 20px;
}

.preview {
    width: 100px;
    height: 100px;
}