<div class="row row-wrapper">
  <div class="col-sm-6 caption-wrapper">
      <div class="text-left">
        <h4>Caption</h4>
        <textarea name="bio" rows="4" class="form-control" [(ngModel)]="post.caption"></textarea>
        <div class="post-wrapper">
            <button (click)="postPhoto()" [routerLink]="[ '/feed' ]" class="post-button">POST</button>
        </div>
      </div>

  </div>
  <div class="col-sm-6 text-center">
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
      <input class="photo-input" #imageUpload ng2FileSelect [uploader]="uploader" #fileInput hidden type="file" id="fileupload" #imageUpload (change)="imageUploadEvent($event)" accept="image/gif, image/jpeg, image/png"/>
      <button fxFlex="100" class="input-label font-weight-bold mat-elevation-z0" type="button" color="primary"
        (click)="imageUpload.click()">
        Choose a Photo
      </button>
      <ngx-croppie *ngIf="croppieImage" #ngxCroppie [outputFormatOptions]="outputoption" [croppieOptions]="croppieOptions" [imageUrl]="croppieImage"
        (result)="newImageResultFromCroppie($event)"></ngx-croppie>
    </div>
    <div *ngFor="let item of uploader.queue">
        <button type="button" class="btn btn-danger btn-xs"
                (click)="removePhoto(item)">
            <span class="glyphicon glyphicon-trash"></span> Remove
        </button>
    </div>
  </div>
</div>

