<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="display: flex;">
          <img class="profile-picture" src="{{photoUrlOtherPerson || '../../../../assets/user.png'}}">
          <button class="username-button" [routerLink]="[ '/profile/', usernameOtherPerson]">
            <h3 class="username">{{usernameOtherPerson}}</h3>
          </button>
        </li>
        <li #scrollBottom class="list-group-item message-thread">
            <ul class="chat">
                <li *ngFor="let message of messages; let i = index"
                [ngClass]="{'chat__bubble': message.post === null, 
                            'post_bubble': message.post != null,
                            'chat__bubble--sent': message.senderId == id, 
                            'chat__bubble--rcvd': message.senderId != id,
                            'chat__bubble--stop': i == (messages.length - 1) || messages[i+1].senderId != message.senderId}">
                      <app-post-card-message *ngIf="message.post != null" [post]="message.post"></app-post-card-message>
                      <span *ngIf="message.senderId == id" class="tooltiptext">{{message.messageSent | date:'shortTime'}}</span>
                      {{message.content}}
                      <span *ngIf="message.senderId != id" class="tooltiptext">{{message.messageSent | date:'shortTime'}}</span>
                </li>
             </ul>
        </li>
        <li class="list-group-item">
          <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()" action="">
            <div class="input-group">
              <input type="text" 
                class="form-control input-sm" 
                [(ngModel)]="newMessage.content" 
                name="content" 
                required
                placeholder="Send a message">
              <div class="input-group-append">
                <button [disabled]="!messageForm.valid" class="send-button">
                  Send</button>
                </div>
              </div>
            </form>
        </li>
      </ul>
    </div>
  </div>
<div class="col-sm-3"></div>
</div>
