<div style="margin: 30px; margin-right: auto; align-items: center; display: flex; flex-direction: column;">
  <div class="row">
    <div class="col-md-2"></div>
    <div style="align-self: center; display: flex; flex-direction: column;" class="col-md-8">
      <h3 style="text-align: center;">About MemeClub</h3>
      <br>
      <p>Founded by CEO, Max Knopping in early 2020, MemeClub has emerged as a social media platform 
        dedicated to creating and sharing the dankest memes. This mobile/web app combines the features
        and creativity of some of the most popular forms of social media today! Our app allows users to 
        explore their skills in custom meme generation along with an interactive jousting feature that 
        puts user's memes head-to-head in competition for popularity and recognition. Our database also 
        dynamically updates to reflect the most recent meme trends, giving you a constant look at what's 
        fresh and out there right now. Download MemeClub today to create an account and get started!</p>
    </div>
  </div>
  <div class="row">
    <br>
    <h3 style="margin-bottom: 30px; margin-top: 15px;" class="text-center">Our Team</h3>
    <br>
  </div>
     <div style="display: flex; flex-direction: row; justify-content: center;">
     <div style="display: flex;" class="col-md-4 person-container">
      <div style="flex-direction: column; display: flex; align-items: center; margin-right: 10px;">
        <img style="width: 100%; object-fit: contain; border-radius: 10%; 
            margin-bottom: 10px;" src="{{'./../../../assets/Max-headshot.JPG'}}">
        <h5>Max Knopping</h5>
        <h6>Founder and CEO</h6>
      </div>
      <div>
        <p>
          Max Knopping started working on MemeClub in September of 2020.
          Max works on all facets of the business, from Marketing on Social Media, to Coding the Website in Angular, the App in React Native, and the Backend in C#.
          He is currently pursuing a Bachelor of Science in Economics with a minor in Computer Science 
          from the Wharton School of the University of Pennsylvania.
          In his free time, Max enjoys learning new coding languages, as well as writing algorithms to predict the Equity Markets.

        </p>
      </div>
    </div>
      <div style="display: flex;" class="col-md-4 person-container">
        <div style="flex-direction: column; display: flex; align-items: center; margin-right: 10px;">
          <img style="width: 100%; object-fit: contain; border-radius: 10%; 
              margin-bottom: 10px;" src="{{'./../../../assets/Ian-headshot.JPG'}}">
            <h5>Ian Moore</h5>
            <h6 style="text-align: center;">Head of UI/UX, Software Engineer</h6>
        </div>
        <div style="display: block;">
          <p style="display: inline-block;">
            Ian Moore first joined MemeClub in February of 2020 as a software engineer. 
            A candidate for a Bachelor of Science in Information Systems Management from the 
            NYU School of Professional Studies with minors in Computer Science and Web Programming 
            from the Courant Institute of Applied Mathematics, Ian works predominantly in editing 
            back-end NodeJS and C# as well as some front-end CSS/HTML/JS. In his free time, 
            Ian enjoys learning more about coding in Python by browsing various sites and projects on 
            GitHub as well as playing and teaching tennis.
          </p>
        </div>
      </div>
      </div>
    </div>


