<div style="margin: 30px; margin-right: auto;">
  <h3>About MemeClub</h3>
  <br>
  <p>Founded by CEO, Max Knopping in early 2020, MemeClub has emerged as a social media platform 
    dedicated to creating and sharing the dankest memes. This mobile/web app combines the features
     and creativity of some of the most popular forms of social media today! Our app allows users to 
     explore their skills in custom meme generation along with an interactive jousting feature that 
     puts user's memes head-to-head in competition for popularity and recognition. Our database also 
     dynamically updates to reflect the most recent meme trends, giving you a constant look at what's 
     fresh and out there right now. Download MemeClub today to create an account and get started!</p>
     <br>
     <h3 class="text-center">Our Team</h3>
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <div style="flex-direction: column; display: flex; align-items: center;" class="col-md-4">
          <img style="width: 50%; margin-bottom: 10px;" src="{{'./../../../assets/max-headshot.JPG'}}">
          <h5>Max Knopping</h5>
          <h6>Founder and CEO</h6>
      </div>
      <div style="flex-direction: column; display: flex; align-items: center;" class="col-md-4">
          <img style="width: 50%; margin-bottom: 10px;" src="{{'./../../../assets/Ian-headshot.jpg'}}">
          <h5>Ian Moore</h5>
          <h6>Head of UI/UX, Software Engineer</h6>
      </div>

    </div>
</div>


