<nav *ngIf="loggedIn()" style="background-color: black;" class="navbar navbar-expand-lg navbar-collapse fixed-top navbar-dark">
  <div class="container-fluid">
      <img *ngIf="loggedIn()" class="logo" src="{{'../../assets/MemeClub.png'}}">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div *ngIf="loggedIn()" style="width: 100%; flex-direction: row;" id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <ul *ngIf="loggedIn()" class="navbar-nav nav-container" style="display: flex; flex-direction: row;">
        <li class="nav-item" routerLinkActive="active" [ngClass]="{'lessMargin': authService.roleMatch()}">
          <a class="nav-link" [routerLink]="[ '/feed']"><i-feather name="home"></i-feather></a>
        </li>
        <li class="nav-item" routerLinkActive="active" [ngClass]="{'lessMargin': authService.roleMatch()}">
          <a class="nav-link" [routerLink]="[ '/featured']"><i-feather name="star"></i-feather></a>
        </li>
        <li class="nav-item" routerLinkActive="active" [ngClass]="{'lessMargin': authService.roleMatch()}">
          <a class="nav-link" [routerLink]="[ '/upload']"><i-feather name="plus-circle"></i-feather></a>
        </li>
        <li class="nav-item" routerLinkActive="active" [ngClass]="{'lessMargin': authService.roleMatch()}">
          <a *ngIf="messageCount === 0" class="nav-link" [routerLink]="[ '/messages']"><i-feather name="message-circle"></i-feather></a>
          <a *ngIf="messageCount > 0" class="nav-link" matBadge="{{messageCount}}" [routerLink]="[ '/messages']"><i-feather name="message-circle"></i-feather></a>
        </li>
        <li class="nav-item" routerLinkActive="active" [ngClass]="{'lessMargin': authService.roleMatch()}">
          <a class="nav-link" *ngIf="notificationCount === 0" (click)="markNotificationsAsRead()" [routerLink]="[ '/notifications']"><i-feather name="bell"></i-feather></a>
          <a class="nav-link" *ngIf="notificationCount > 0" (click)="markNotificationsAsRead()" matBadge="{{notificationCount}}" [routerLink]="[ '/notifications']"><i-feather name="bell"></i-feather></a>
        </li>
        <li class="nav-item" routerLinkActive="active" [ngClass]="{'lessMargin': authService.roleMatch()}">
          <a class="nav-link" [routerLink]="[ '/search']"><i-feather name="search"></i-feather></a>
        </li>
        <li *ngIf="authService.roleMatch()" class="nav-item" routerLinkActive="active" [ngClass]="{'lessMargin': authService.roleMatch()}">
          <a class="nav-link" [routerLink]="[ '/admin']">Admin</a>
        </li>
      </ul>


      <div *ngIf="loggedIn()" class="dropdown profile-dropdown" dropdown>
          <span>
            <img class="profile-picture" src="{{authService.currentUser.photoUrl || '../../../assets/user.png'}}" alt="">
          </span>
          <a class="dropdown-toggle text-light" dropdownToggle>
            {{authService.decodedToken?.unique_name | titlecase}}
          </a>
  
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" [routerLink]="[ '/profile/', authService.decodedToken?.unique_name]" href="#"><i class="fa fa-user mr-1"></i>My Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" (click)="logOut()"><i class="fa fa-sign-out mr-1"></i>Log Out</a>
          </div>
        </div>

      </div>
  
      <!--
      <div class="navbar-collapse collapse" *ngIf="!loggedIn()" style="width: 100%; flex-direction: column;" id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <form *ngIf="!loggedIn() && loggedIn()"  #loginForm="ngForm" class="my-2 my-lg-0 ml-auto form-inline" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" name="username" 
          placeholder="Username" required [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" type="password" name="password"
          placeholder="Password" required [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" style="background-color: crimson; color: white; height: 2.87rem;" class="btn my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
    -->
  </div>
</nav>