<nav class="navbar navbar-expand-md navbar-collapse fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
      <img class="logo" src="{{'../../assets/MemeClub.png'}}">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="[ '/feed']"><i-feather name="home"></i-feather></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="[ '/featured']"><i-feather name="star"></i-feather></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="[ '/upload']"><i-feather name="plus-circle"></i-feather></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="[ '/messages']"><i-feather name="message-circle"></i-feather></a>
        </li>
      </ul>
  
      <div *ngIf="loggedIn()" dropdown class="dropdown search-dropdown" #dropdown="bs-dropdown">
        <form #searchForm="ngForm" id="searchForm" (ngSubmit)="dropdown.show(); searchPreview(query)">
          <div class="input-group">
            <input type="text"
                    required 
                    class="form-control" 
                    placeholder="Search" 
                    [(ngModel)]="query" 
                    name="query">
            <div class="input-group-append">
              <button class="search-button" [disabled]="!searchForm.valid"><i class="fa fa-search" dropdownToggle></i></button>
            </div>
          </div>
        </form>
        <div class="dropdown-menu" role="menu" *dropdownMenu>
          <div *ngFor="let user of searchPreviewUsers">
            <a class="dropdown-item" role="menuitem"
              [routerLink]="[ '/profile/', user.username]" 
              href="#">
                <img class="profile-picture mr-1" src="{{user.photoUrl || '../../../assets/user.png'}}">
                {{user.username}}</a>
            <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>

      <div *ngIf="loggedIn()" class="dropdown profile-dropdown" dropdown>
          <span class="mr-2"></span>
          <span>
            <img class="profile-picture" src="{{authService.currentUser.photoUrl || '../../../assets/user.png'}}" alt="">
          </span>
          <a class="dropdown-toggle text-light" dropdownToggle>
            {{authService.decodedToken?.unique_name | titlecase}}
          </a>
  
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" [routerLink]="[ '/profile/', authService.decodedToken?.unique_name]" href="#"><i class="fa fa-user mr-1"></i>My Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" (click)="logOut()"><i class="fa fa-sign-out mr-1"></i>Log Out</a>
          </div>
        </div>

      </div>
  
      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" name="username" 
          placeholder="Username" required [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" type="password" name="password"
          placeholder="Password" required [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
      </form>
  </div>
</nav>