<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 style="color: white;" class="text-center">Sign Up</h2>
    <hr>
  
    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}"
      type="text" 
      class="form-control input" 
      formControlName = "username" 
      placeholder="Username">
      <div *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched" 
      class="invalid-feedback">Username is required</div>
      <div *ngIf="registerForm.get('username').hasError('maxlength') && registerForm.get('username').touched" 
      class="invalid-feedback">Username cannot exceed 30 characters</div>
      <div *ngIf="registerForm.get('username').hasError('spaces') && registerForm.get('username').touched" 
      class="invalid-feedback">Username cannot have any spaces</div>
    </div>

    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}" class="form-control input"
        placeholder="Email Address" formControlName="email">
      <div class="invalid-feedback" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('email')">
        Please Enter a Valid Email</div>
      <div class="invalid-feedback" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">
          Email is required</div> 
    </div>

    <div class="form-group">
      <input placeholder="Name" class="form-control input" formControlName="name"/>
    </div>
  
    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
      type="password" class="form-control input" formControlName = "password" placeholder="Password">
      <div *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched" 
      class="invalid-feedback">Password is required</div>
      <div *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched" 
      class="invalid-feedback">Password must be at least 8 characters</div>
      <div *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched" 
      class="invalid-feedback">Password cannot exceed 50 characters</div>
    </div>

    <div class="form-group">
        <input [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors && 
        registerForm.get('confirmPassword').touched
        || registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')}"
        type="password" class="form-control input" formControlName = "confirmPassword" placeholder="Confirm Password">
        <div *ngIf="registerForm.get('confirmPassword').hasError('required') && 
        registerForm.get('confirmPassword').touched" 
        class="invalid-feedback">Password is required</div>
        <div *ngIf="registerForm.hasError('mismatch') && 
        registerForm.get('confirmPassword').touched" 
        class="invalid-feedback">Passwords must match</div>
    </div>

    <div class="form-group">
      <div class="inline-field">
        <label style="display: inline-block;" for="terms">
          <input [ngClass]="{'is-invalid': registerForm.get('agreeToTerms').errors && 
          registerForm.get('agreeToTerms').touched}"
          type="checkbox" style="display: inline;" id="terms" name="terms" formControlName="agreeToTerms" />
            I agree to the <a style="color: crimson;" target="_blank" [routerLink]="[ '/terms' ]">Terms and Conditions</a> and the 
            <a style="color: crimson;" target="_blank" [routerLink]="[ '/privacy' ]">Privacy Policy</a>
          </label>
      </div>
      <div *ngIf="registerForm.get('agreeToTerms').hasError('requiredTrue') && 
      registerForm.get('agreeToTerms').touched" 
      class="invalid-feedback">Please agree to continue</div>
    </div>

    <div class="form-group">
      <re-captcha
      formControlName="captcha"
      name="captcha"
      required
      theme="dark"
      siteKey="6LdWYLsZAAAAADjK4fyDGr43dqq8ZJD5F-v-4zbR"
      type="images"
      style="background-color: black;"
    ></re-captcha>
    </div>
  
    <div class="form-group text-center">
      <button [disabled]="!registerForm.valid" class="btn" style="background-color: crimson; color: white;" type="submit">Register</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
    
  </form>
  