<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
  
    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}"
      type="text" 
      class="form-control" 
      formControlName = "username" 
      placeholder="Username">
      <div *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched" 
      class="invalid-feedback">Username is required</div>
      <div *ngIf="registerForm.get('username').hasError('maxlength') && registerForm.get('username').touched" 
      class="invalid-feedback">Username cannot exceed 30 characters</div>
      <div *ngIf="registerForm.get('username').hasError('spaces') && registerForm.get('username').touched" 
      class="invalid-feedback">Username cannot have any spaces</div>
    </div>
  
    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
      type="password" class="form-control" formControlName = "password" placeholder="Password">
      <div *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched" 
      class="invalid-feedback">Password is required</div>
      <div *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched" 
      class="invalid-feedback">Password must be at least 8 characters</div>
      <div *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched" 
      class="invalid-feedback">Password cannot exceed 50 characters</div>
    </div>

    <div class="form-group">
        <input [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors && 
        registerForm.get('confirmPassword').touched
        || registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')}"
        type="password" class="form-control" formControlName = "confirmPassword" placeholder="Confirm Password">
        <div *ngIf="registerForm.get('confirmPassword').hasError('required') && 
        registerForm.get('confirmPassword').touched" 
        class="invalid-feedback">Password is required</div>
        <div *ngIf="registerForm.hasError('mismatch') && 
        registerForm.get('confirmPassword').touched" 
        class="invalid-feedback">Passwords must match</div>
    </div>

    <div class="form-group">
        <input [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}" class="form-control"
          placeholder="Email Address" formControlName="email">
        <div class="invalid-feedback" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('email')">
          Please Enter a Valid Email</div>
        <div class="invalid-feedback" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">
            Email is required</div> 
      </div>
  
    <div class="form-group text-center">
      <button [disabled]="!registerForm.valid" class="btn btn-success" type="submit">Register</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
    
  </form>
  