.profile-picture {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
}

.title {
    border: 0px;
}

.comment-and-username {
    font-size: 16px;
    color: black;
}

.like-button {
    cursor: pointer;
    size: scale(10);
    border: 0px;
    color: black;
    background-color: transparent;
}

.like {
    cursor: pointer;
    size: scale(20m);
    border: 0px;
    color: crimson;
    background-color: transparent;
    height: 20px;
    padding-top: 2px;
}

.like-button:hover {
    background: transparent
}

.right-align {
    float: right;
    vertical-align: middle;
}

@media only screen and (min-width: 900px) {
    .bottom-line {
        padding-left: 40px;
    }
} @media only screen and (max-width: 899px) {
    .bottom-line {
        padding-left: 15px;
    }
}


.first-bottom-line {
    padding-left: 6px;
    color: gray
}

a {
    color: gray;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: gray;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: gray;
    background-color: transparent;
    text-decoration: none;
  }

  .dropup {
    -webkit-appearance: none;
    background-color: transparent;
    cursor: pointer;
    color: gray;
    border: 0px;
}