.registerButton:hover {
    background-color:rgba(0, 0, 0, 0.3);
}

.logo {
    width: 100%;
    opacity: 0;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    animation-fill-mode: forwards; 

}

@media only screen and (max-width: 768px) {
    .logo {
        width: 100%
    }
}

@media only screen and (min-width: 768px) {
    .logo {
        width: 100%
    }
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.main-container {
    height: 100%;
    z-index: 1040;
    position: relative;
}

.revealFooter {
    background-color: crimson;
}

@media only screen and (min-width: 992px) {
    .p {
        font-size: large;
    }
}

@media only screen and (max-width: 1200px) {
    .footer-text {
        font-size: .5rem;
    }
}

