<div class="container mt-4">
    <div class="row">
      <div class="col-sm-3" style="text-align: center;">
          <img class="card-img-top profile-picture" [src]="imgURL || '../../../assets/user.png'">
          <button style="border: none; background-color: crimson; color: white; 
                         padding-left: 0; padding-right: 0; padding-top: 1em; padding-bottom: 1em; line-height: 1.25em;
                         border-radius: 10px;" class="btn change-picture" (click)="cropImageModal()">Change Profile Picture</button>
      </div>
      <div class="col-sm-6">
        <form #editForm="ngForm" id="editForm" (ngSubmit)="sendChanges()">
          <div class="form-group">
              <h4>Username</h4>
              <input name="username" class="form-control" id="username-input" [(ngModel)]="user.username">
              <p *ngIf="user.username.includes(' ')" style="color: crimson;">Username must not have any spaces</p>
              <p *ngIf="user.username.length > 30" style="color: crimson;">Username must not exceed 30 characters</p>
              <p *ngIf="user.username.length === 0" style="color: crimson;">Username is required</p>
          </div>
          <div class="form-group">
            <h4>Email</h4>
            <input name="email" class="form-control" id="email-input" [(ngModel)]="user.email">
            <p *ngIf="!user.email.includes('@') || !user.email.includes('.')" style="color: crimson;">Please enter a valid email</p>
            <p *ngIf="user.email.length === 0" style="color: crimson;">Email is required</p>
          </div>
          <div class="form-group">
            <h4>Name</h4>
            <input name="name" class="form-control" id="name-input" [(ngModel)]="user.name">
          </div>
          <div class="form-group">
              <h4>Bio</h4>
              <textarea name="bio" rows="4" class="form-control" [(ngModel)]="user.bio"></textarea>
          </div>
          <div class="password-container">
            <button style="border: none; padding-left: 0px; padding-right: 0px; padding-top: .5em; padding-bottom: .5em; 
                           border-radius: 10px; background-color: crimson;"
            type="button" (click)="changePasswordModal()" class="btn-info password-change">Change Password</button>
          </div>
          <button style="border: none; padding-left: .5em; padding-right: .5em; padding-top: .5em; padding-bottom: .5em; 
                         border-radius: 10px;" form="editForm" [disabled]="(!editForm.dirty && uploader.queue.length == 0) || 
            user.username.indexOf(' ') !== -1 || user.username.length > 30 || !user.email.includes('@') || 
            !user.email.includes('.') || user.email.length === 0 || user.username.length === 0" class="save-button btn-success">SAVE CHANGES</button>
        </form>
      </div>
      <div class="col-sm-3">
        <div *ngIf="editForm.dirty || uploader.queue.length > 0" class="alert alert-info">
          <strong>Warning:</strong> You have made changes. Any unsaved changes will be lost.
         </div>
      </div>
  </div> 
</div>